
<%- include('partials/header') %>
<a href="javascript:history.back()" class="btn btn-secondary mb-3">Back</a>
<h3>User Management</h3>
<div class="list-group">
    <% users.forEach(user => { %>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= user.email %></h5>
                <small>User ID: <%= user.user_id %></small>
            </div>
            <p class="mb-1">
                <a href="/user-sessions/<%= user.user_id %>" class="mr-3">Manage Sessions</a>
                <a href="/user-refresh-tokens/<%= user.user_id %>">Manage Refresh Tokens</a>
            </p>
        </div>
    <% }); %>
</div>
<%- include('partials/footer') %>



