<%- include('partials/header') %>
<a style="float: right;" href="javascript:history.back()">Back</a>
    <h3>User Management</h3>

    <!-- <form action="/delete-users" method="POST"> -->
        <% users.forEach(user => { %>
            <div>
                <input type="checkbox" name="userIds[]" value="<%= user.user_id %>" />
                <%= user.email %> | <%= user.user_id %>
                <a href="/user-sessions/<%= user.user_id %>">Manage Sessions</a>
                &nbsp; | &nbsp; 
                <a href="/user-refresh-tokens/<%= user.user_id %>">Manage Refresh Tokens</a>
            </div>
        <% }); %>
        <br>
        <!-- <button type="submit">Delete Selected Users</button> -->

        <hr>
       
    <!-- </form> -->
<%- include('partials/footer') %>


